.simple-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 24px;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
}

.nav-links {
  display: flex;
  gap: 24px;
  padding-right: 40px;
  font-size: 16px; 
}

.logo{
    font-size: 26px;
}

.search-bar {
  width: 100%;
  max-width: 420px;
  margin: auto;                 /* centers it */
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
