# ======================
# Compiled output
# ======================
dist/
tmp/
out-tsc/
bazel-out/

# ======================
# Node
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# Angular
# ======================
.angular/
.angular/cache/

# ======================
# IDEs and editors
# ======================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ======================
# VS Code
# ======================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ======================
# Misc
# ======================
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# ======================
# System files
# ======================
.DS_Store
Thumbs.db
